@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
header {
  background-color: #faeee7;
  color: white;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: "Lobster";
}
header > div {
  display: flex;
  align-items: center;
  color: #ffbbcc;
  font-size: 30px;
  margin: 0 10px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
#logo {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.dunkelButton {
  font-size: 15px;
  background: #5eb7b7;
  border: 2px solid #ffbbcc;
  display: block;
  height: 50px;
  margin: 10px;
  padding: 2px 25px;
  text-decoration: none;
  border-radius: 30px;
  line-height: 45px;
  color: #fffdf9;
  cursor: pointer;
}
.hellButton {
  font-family: "Lobster";
  font-size: 15px;
  background-color: #9be3de;
  border: 2px solid #ffbbcc;
  display: block;
  height: 50px;
  margin: 10px;
  padding: 2px 25px;
  text-decoration: none;
  border-radius: 30px;
  line-height: 45px;
  color: #fffdf9;
  cursor: pointer;
}
section > h1 {
  margin: 0;
  background-color: #9be3de;
  text-align: center;
  color: #fffdf9;
  font-family: "Lobster";
}
